.home-container {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    animation: scrollText 5s linear infinite;
    white-space: nowrap;
}

@keyframes scrollText {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji {
    font-size: 3rem;
    margin: 0 10px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}